# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/

# Logs
*.log
logs/

# Local development settings
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables
.env.local
.env.*.local

# Extensions
*.zip
*.rar
*.tar
*.gz
*.bz2
*.whl
.VSCodeCounter

# Other
**/cache/
experiments/results
dask-worker-space/
joblib_cache/
experiments_/

# Sphinx documentation
docs/_build/
docs/api/
docs/docs/
docs/examples/planners_comparison_results/
docs/examples/researcher_cache/
